.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(1.1); /* Increase scale by 10% when hovered */
}

.home-container {
  text-align: center;
}



body {
  background-image: url("https://raw.githubusercontent.com/peytonlellis/peyton/main/dark-blue-denim-jeans-texture-600nw-64649035.webp");
  cursor: url('https://github.com/peytonlellis/peyton/blob/main/hands_PNG98525.png?raw=true'), auto;
}

.home-ceramicscrochet {
  top: 100px;
  right: 10px;
  color: rgb(185, 124, 32);
  width: 330px;
  height: 150px;
  position: absolute;
  background-size: cover;
  text-decoration: none;
  background-image: url("https://github.com/peytonlellis/peyton/blob/main/Ceramic%2Bcrochet%20button.png?raw=true");
}

.home-instagram {
  top: 60px;
  left: 216px;
  color: rgb(185, 124, 32);
  width: 60px;
  height: 80px;
  position: absolute;
  background-size: cover;
  text-decoration: none;
  background-image: url("https://github.com/peytonlellis/peyton/blob/main/knockout%2013.PNG?raw=true");
}

.home-music {
  top: 290px;
  left: 518px;
  color: rgb(185, 124, 32);
  width: 480px;
  height: 300px;
  position: absolute;
  background-size: cover;
  text-decoration: none;
  background-image: url("https://github.com/peytonlellis/peyton/blob/main/Music%20Button.png?raw=true");
}
.home-upcoming {
  top: 200px;
  left: 150px;
  color: rgb(185, 124, 32);
  width: 300px;
  height: 150px;
  position: absolute;
  background-size: cover;
  text-decoration: none;
  background-image: url("https://github.com/peytonlellis/peyton/blob/main/Upcoming%20Button.png?raw=true");
}
.homefun-sille {
  top: 10px;
  left: 480px;
  width: 500px;
  height: 250px;
  position: absolute;
  background-size: cover;
  background-color: transparent;
  border-color: transparent;
  background-image: url("https://github.com/peytonlellis/peyton/blob/main/knockout%20sille.PNG?raw=true");
}
.home-shop {
  top: 450px;
  left: 216px;
  color: rgb(185, 124, 32);
  width: 250px;
  height: 200px;
  position: absolute;
  background-size: cover;
  text-decoration: none;
  background-image: url("https://github.com/peytonlellis/peyton/blob/main/Shop%20button.png?raw=true");
}
.home-videos {
  top: 450px;
  left: 950px;
  color: rgb(185, 124, 32);
  width: 200px;
  height: 250px;
  position: absolute;
  background-size: cover;
  text-decoration: none;
  background-image: url("https://github.com/peytonlellis/peyton/blob/main/Videos%20Button.png?raw=true");
}

@media (max-width: 425px) {
  .home-ceramicscrochet {
    top: 550px;
    right: 50px;
    color: rgb(185, 124, 32);
    width: 400px;
    height: 200px;
    position: absolute;
    background-size: cover;
    text-decoration: none;
    background-image: url("https://github.com/peytonlellis/peyton/blob/main/Ceramic%2Bcrochet%20button.png?raw=true");
  }
  .home-instagram {
    top: 500px;
    left: 100px;
    color: rgb(185, 124, 32);
    width: 130px;
    height: 150px;
    position: absolute;
    background-size: cover;
    text-decoration: none;
    background-image: url("https://github.com/peytonlellis/peyton/blob/main/knockout%2013.PNG?raw=true");
  }

  .home-music {
    top: 1000px;
    left: 200px;
    color: rgb(185, 124, 32);
    width: 650px;
    height: 400px;
    position: absolute;
    background-size: cover;
    text-decoration: none;
    background-image: url("https://github.com/peytonlellis/peyton/blob/main/Music%20Button.png?raw=true");
  }
  .home-upcoming {
    top: 750px;
    left: 50px;
    color: rgb(185, 124, 32);
    width: 380px;
    height: 200px;
    position: absolute;
    background-size: cover;
    text-decoration: none;
    background-image: url("https://github.com/peytonlellis/peyton/blob/main/Upcoming%20Button.png?raw=true");
  }
  .homefun-sille {
    top: 150px;
    left: 200px;
    width: 600px;
    height: 300px;
    position: absolute;
    background-size: cover;
    background-color: transparent;
    border-color: transparent;
    background-image: url("https://github.com/peytonlellis/peyton/blob/main/knockout%20sille.PNG?raw=true");
  }
  .home-shop {
    top: 1600px;
    left: 100px;
    color: rgb(185, 124, 32);
    width: 400px;
    height: 300px;
    position: absolute;
    background-size: cover;
    text-decoration: none;
    background-image: url("https://github.com/peytonlellis/peyton/blob/main/Shop%20Button.png?raw=true");
  }
  .home-videos {
    top: 1500px;
    left: 650px;
    color: rgb(185, 124, 32);
    width: 300px;
    height: 350px;
    position: absolute;
    background-size: cover;
    text-decoration: none;
    background-image: url("https://github.com/peytonlellis/peyton/blob/main/Videos%20Button.png?raw=true");
  }
}
