

@font-face {
  font-family: Catnip;
  src: url(Catnip.ttf);
}

.home-fun-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 150vh;
    align-items: flex-end;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-image: url("https://github.com/peytonlellis/peyton/blob/main/45-1323342-203x141-01.jpeg?raw=true");
    
  }

  
  .home-fun-image {
    top: 200px;
    left: 135px;
    width: 325px;
    height: 400px;
    position: absolute;
    object-fit: cover;
    outline: 8px ridge rgb(218, 171, 110);
  }
  .home-fun-image1 {
    top: 200px;
    right: 100px;
    width: 200px;
    height: 250px;
    position: absolute;
    object-fit: cover;
    outline: 8px ridge rgb(218, 171, 110);
  }
  .home-fun-container1 {
    top: 100px;
    flex: 0 0 auto;
    right: 430px;
    width: 500px;
    height: 200px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-fun-text {
    color: rgb(218, 195, 164);
    font-size: 50px;
    background-color: rgb(48, 32, 16);
    font-family: Catnip;
    font-weight: 100;
    font-style: normal;
    outline: 8px ridge rgb(218, 171, 110);
    padding-left: 5px;
  }
  .home-fun-container2 {
    flex: 0 0 auto;
    top: 550px;
    left: 1000px;
    right: 10px;
    width: 414px;
    bottom: 85px;
    height: 158px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-fun-text06 {
    color: rgb(218, 195, 164);
    font-size: 40px;
    background-color: rgb(48, 32, 16);
    font-family: "catnip", sans-serif;
    font-weight: 100;
    font-style: normal;
    outline: 8px ridge rgb(218, 171, 110);
    padding-left: 5px;
    padding-right: 5px;


  }
  .home-fun-image2 {
    left: 500px;
    width: 400px;
    height: 300px;
    top: 370px;
    bottom: 10px;
    position: absolute;
    object-fit: cover;
    background: transparent;
    z-index: 999;

  }
  .home-fun-image3 {
    left: 510px;
    width: 300px;
    top: 370px;
    bottom: 10px;
    object-fit: cover;
    position: absolute;
   


  }.home-fun-image4 {
    left: 450px;
    width: 230px;
    top: 700px;
    bottom: 10px;
    position: absolute;
    object-fit: cover;
    outline: 8px ridge rgb(218, 171, 110);

  }
  .home-fun-container3 {
    top: 600px;
    flex: 0 0 auto;
    left: 85px;
    width: 415px;
    height: 163px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-fun-text17 {
    color: rgb(76, 14, 9);
    font-size: 40px;
    background-color: rgb(221, 192, 163);
    font-family: "catnip", sans-serif;
    font-weight: 800;
    font-style: normal;
    outline: 8px ridge rgb(218, 171, 110);
    
  }
  
  /* Mobile Phones */
@media (max-width: 425px) { 
  .home-fun-container {
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
    background-image: url("https://github.com/peytonlellis/peyton/blob/main/45-1323342-203x141-01.jpeg?raw=true");

  }

  
  .home-fun-image {
    top: 150px;
    left: 250px;
    width: 100px;
    height: 100px;
    position: absolute;
    object-fit: cover;
    outline: 8px ridge rgb(218, 171, 110);
  }
  .home-fun-image1 {
    top: 400px;
    right: 300px;
    width: 100px;
    height: 100px;
    position: absolute;
    object-fit: cover;
    outline: 8px ridge rgb(218, 171, 110);
  }
  .home-fun-container1 {
    top: 20px;
    left: 100px;
    width: 200px;
    height: 10px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-fun-text {
    color: rgb(218, 195, 164);
    font-size: 20px;
    background-color: rgb(48, 32, 16);
    font-family: Catnip;
    font-weight: 10;
    font-style: normal;
    outline: 8px ridge rgb(218, 171, 110);
    padding-left: 5px;
  }
  .home-fun-container2 {
    flex: 0 0 auto;
    top: 320px;
    left: 200px;
    right: 100px;
    width: 200px;
    bottom: 8px;
    height: 15px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-fun-text06 {
    color: rgb(218, 195, 164);
    font-size: 20px;
    background-color: rgb(48, 32, 16);
    font-family: "catnip", sans-serif;
    font-weight: 100;
    font-style: normal;
    outline: 8px ridge rgb(218, 171, 110);
    padding-left: 5px;
    padding-right: 5px;


  }
  .home-fun-image2 {
    left: 50px;
    width: 150px;
    height: 100px;
    top: 200px;
    bottom: 10px;
    position: absolute;
    object-fit: cover;
    background: transparent;
    

  }
  .home-fun-image3 {
    left: 51px;
    width: 110px;
    top: 200px;
    bottom: 10px;
    object-fit: cover;
    position: absolute;
   


  }.home-fun-image4 {
    left: 100px;
    width: 130px;
    top: 550px;
    bottom: 10px;
    position: absolute;
    object-fit: cover;
    outline: 8px ridge rgb(218, 171, 110);

  }
  .home-fun-container3 {
    top: 110px;
    flex: 0 0 auto;
    left: 85px;
    width: 115px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-fun-text17 {
    color: rgb(76, 14, 9);
    font-size: 20px;
    background-color: rgb(221, 192, 163);
    font-family: "catnip", sans-serif;
    font-weight: 200;
    font-style: normal;
    outline: 8px ridge rgb(218, 171, 110);
    
  } 
